.form {
    margin: auto;
    background-color: aqua;

}


.wrapper {

    margin: auto;
    padding: 20px;
    
    }
    
.messagebox {
    width: 500px;
    height: 60px;
}
.radioclass {
    border: 2px solid black;
    display: flex;
  
   justify-content: space-evenly;

}
